@import "../../index.scss";

.School {
  @include flex(flex-start, stretch, column);
  width: 100vw;
  height: 100vh;
  padding: $page-padding;
  background-color: $white;

  .title {
    @include flex(flex-start, center);
    height: 70px;
  }

  .cards {
    @include flex(space-evenly, center);
    flex: 1;
    border-top: solid $darkGray;
    // background-color: $darkGray;
    // box-shadow: $boxShadow;
  }
}

