@import '../../index.scss';

.MisionVisionValues {
  @include flex (space-evenly, center);
  height: 90vh;
  width: 100%;
  background-color: $pink;

  section {
    @include flex (space-between, center, column);
    height: 500px;
    width: 300px;
    margin-bottom: 100px;

    h1 {
      font-family: 'Butler';
      font-size: 4em;
    }

    .imgContainer {
      @include flex (center, center);
      height: 200px;
      width: 200px;
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }


    p {
      height: 100px;
      text-align: center;
      width: 80%;
      line-height: 1.4;
    }
  }
}
