@import "../../index.scss";

.MisionVisionValues {
  @include flex(space-evenly, center);
  height: 90vh;
  width: 100%;

  section {
    @include flex(space-between, center, column);
    height: 500px;
    width: 300px;
    margin-bottom: 100px;

    h1 {
      font-family: "Butler";
      font-size: 4em;
      opacity: 0;
    }

    .sectionContent {
      @include flex (space-evenly, center, column);
      flex: 1;
      opacity: 0;
    }

    .imgContainer {
      @include flex(center, center);
      height: 200px;
      width: 200px;
      overflow: hidden;
      border: solid black 5px;
      box-shadow: $boxShadow;

      img {
        max-width: 100%;
      }
    }

    h3 {
      color: $gray;
    }

    p {
      height: 100px;
      text-align: center;
      width: 80%;
      line-height: 1.4;
    }
  }
}

.titleAnimation {
  animation: titleAnimation 2s forwards;
}
.contentAnimation {
  animation: contentAnimation 2s forwards;
}

@keyframes contentAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes titleAnimation {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
