@import "../../index.scss";

.TheBrand {
  @include flex(center, stretch);
  gap: 70px;
  padding: 50px 0;
  height: calc(100vh - 65px);

  .imageContainer {
    border: solid black 7px;
    box-shadow: $boxShadow;
    width: 500px;
    background-image: url("../../assets/images/theBrand-img.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
  }
  .infoContainer {
    @include flex(center, stretch, column);
    width: 550px;
    gap: 30px;

    .titleContainer {
      @include flex(center, stretch, column);

      h1 {
        font-size: 6em;

        height: 80px;
        line-height: 1;
        opacity: 0;
      }
      h3 {
        text-align: end;
        font-size: 2.5em;
        color: $gray;
        opacity: 0;
      }
    }

    p {
      padding-left: 30%;
      padding-right: 10px;
      line-height: $lineHeight;
      text-align: right;
      opacity: 0;
    }
  }
}

.titleAnimation {
  animation: titleAnimation 2s forwards;
}
.imgAnimation {
  animation: imgAnimation 2s forwards;
}
.contentAnimation {
  animation: contentAnimation 2s forwards;
}

@keyframes imgAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes titleAnimation {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes contentAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
