@import "../../index.scss";

.Footer {
  @include flex (center, stretch, column);
  height: calc(100vh - 65px);
  background-color: $pink;

  .imgContainer {
    @include flex (center, center);
    height: 70%;
    overflow: hidden;

    img {
      min-width: 100%;
    }
  }

  .content {
    @include flex (space-evenly, center);
    height: 30%;

    .titleContainer {
      @include flex (center, center, column);
      font-family: 'Butler';

      h1 {
        font-size: 4em;
      }
      h3 {
        font-size: 1.5em;
      }
    }

    iframe {
      height: 90%;
      width: 300px;
      border: none;
    }

    .infoContainer {
      @include flex (center, flex-end, column);
      gap: 5px;
    }
  }
}
