@import "../../index.scss";

.Footer {
  @include flex(center, stretch);
  height: 50vh;
  max-height: 50vh;
  background-color: rgb(253, 253, 253);

  .left {
    @include flex(center, center);
    flex: 1;
  }
  .mid {
    @include flex(center, center, column);
    flex: 1;
    gap: 15px;

    iframe {
      height: 70%;
      width: 70%;
      border: none;
      border-radius: 15px;
      box-shadow: 0px 0px 10px 2px $gray;
    }

    p {
      font-weight: bolder;
      font-size: 1.3em;
    }
  }
  .right {
    @include flex(center, center);
    flex: 1;

    .content {
      @include flex(center, flex-start, column);
      gap: 10px;

      h1 {
        margin-bottom: 20px;
        border-bottom: solid $gray 2px;
      }

      a {
        text-decoration: none;
        color: inherit;
        border-bottom: solid $gray 1px;
      }
    }
  }
}
