@import "../../index.scss";

.PromotersModelsCourses {
  @include flex(center, center, column);
  height: 90vh;
  gap: 40px;

  .content {
    @include flex(space-between, center);
    width: 100%;

    section {
      @include flex(center, center, column);

      h1 {
        font-size: 2em;
        
        opacity: 0;
      }

      div {
        @include flex(center, center);
        height: 270px;
        overflow: hidden;
        opacity: 0;
        width: 100%;
      }
    }

    .section1, .section3 {
      width: 29.5%;

      div {
        max-width: 310px;
      }
    }
    .section2 {
      width: 39%;
    }
  }

  .title {
    
    font-size: 4em;
    opacity: 0;
  }
}

.titleAnimation {
  animation: titleAnimation 2s forwards;
}
.contentAnimation {
  animation: contentAnimation 2s forwards;
}

@keyframes titleAnimation {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes contentAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
