@import "../../index.scss";

.Quote {
  @include flex(center, center);
  height: 70vh;

  .textContainer {
    max-width: 600px;
    line-height: $lineHeight;
    font-size: 1.3em;
    text-align: center;
    position: relative;

    p {
      opacity: 0
    }

    .leftIconContainer {
      @include flex(center, center);
      right: 105%;
      bottom: 100%;
      height: 80px;
      width: 80px;
      position: absolute;
      opacity: 0;

      svg {
        transform: rotate(180deg);
        height: 100%;
        width: 100%;
      }
    }
    .rightIconContainer {
      @include flex(center, center);
      left: 105%;
      top: 100%;
      height: 80px;
      width: 80px;
      position: absolute;
      opacity: 0;

      svg {
        height: 100%;
        width: 100;
      }
    }
  }
}

.leftIconAnimation {
  animation: leftIconAnimation 2s forwards;
}
.rightIconAnimation {
  animation: rightIconAnimation 2s forwards;
}
.textAnimation { 
  animation: textAnimation 2s forwards;
}

@keyframes textAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes leftIconAnimation {
  from {
    transform: translateX(-150px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightIconAnimation {
  from {
    transform: translateX(150px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
