@import "../../index.scss";

.About {
  @include flex (space-between, stretch, column);
  background-color: $gray;
  height: calc(100vh - 65px);
  width: 100vw;
  padding: 25px;
  border-bottom: solid black 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;

  section {
    @include flex(space-between, center);
    background-color: $pink;
    padding: 20px;
    height: 48%;
    gap: 20px;
    border-radius: 15px;

    .imgContainer {
      @include flex (center, center);
      height: 100%;
      box-shadow: 2px 2px 8px black;

      img {
        height: 100%;
      }
    }

    .textContainer {
      @include flex(flex-start, center, column);
      font-size: 1.2em;
      gap: 15px;
      flex: 7;
    }
  }
}
