@import "../../index.scss";

.About {
  @include flex(flex-start, stretch, column);
  width: 100%;

  .MainContainer {
    @include flex(center, center, column);
    height: calc(100vh - 65px);
    background-image: url("../../assets/images/aboutBackground.jpg");
    background-size: cover;

    h1 {
      font-family: "Butler";
      font-size: 7em;
    }
    p {
      font-size: 2.5em;
      background-color: $gray;
    }
  }

  
}

.titleAnimation {
  animation: titleAnimation 1.5s;
}
.subtitleAnimation {
  animation: subtitleAnimation 1.5s;
}
@keyframes titleAnimation {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes subtitleAnimation {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// .About {
//   @include flex (space-between, stretch, column);
//   background-color: $gray;
//   height: calc(100vh - 65px);
//   width: 100vw;
//   padding: 25px;
//   border-bottom: solid black 1px;
//   border-bottom-left-radius: 15px;
//   border-bottom-right-radius: 15px;
//   position: relative;

//   section {
//     @include flex(space-between, center);
//     background-color: $pink;
//     padding: 20px;
//     height: 48%;
//     gap: 20px;
//     border-radius: 15px;

//     .imgContainer {
//       @include flex (center, center);
//       height: 100%;
//       box-shadow: 2px 2px 8px black;
//       border-radius: 10px;
//       overflow: hidden;

//       img {
//         height: 100%;
//       }
//     }

//     .textContainer {
//       @include flex(flex-start, center, column);
//       font-size: 1.2em;
//       gap: 15px;
//       flex: 7;
//     }
//   }
// }
