@import "../../index.scss";

.News {
  height: 100vh;
  padding: $page-padding;
  background-color: $pink;

  .new1 {
    @include flex(flex-start, stretch);
    padding: 20px;
    border-bottom: solid $darkGray 1px;

    .contentContainer {
      width: 50%;

      h1 {
        font-size: 1.8rem;
      }

      .text {
        font-size: 1.2em;
        margin-top: 15px;
        padding-right: 30px;
        // text-align: justify;
      }
    }

    .imgContainer {
      @include flex(center, center);
      width: 50%;

      img {
        max-width: 100%;
      }
    }
  }
}
